.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;

  /* background-size: cover; */
}

#carouselExampleCaptions {
  height: 70vh;
  background-size: cover; /*..........  */
}

.carousel-inner, .carousel-item, .carousel-item img {
  height: 100%;
}

.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 40%;
  left: 0;
  right: 0;
}

.name{
  color: #212ea0;
}
.carousel-inner img {
  /* Remove redundant background declarations */
  background: linear-gradient(rgba(2, 2, 3, 0.7), rgba(96, 97, 105, 0.7));
}

.carousel-caption span {
  color: var(--bs-blue);
}

.carousel-caption h2 {
  color: #ffff;
  font-size: 42px;
  font-weight: 600;
  width: 80%;
  margin: 0px auto 10px auto;
  text-align: center;
}

.carousel-caption p {
  font-size: 20px;
  width: 80%;
  margin: 0px auto 20px auto;
  text-align: center;
}

/* Media Queries for different devices */
/* @media (max-width: 768px) {
  .carousel-caption h2 {
    font-size: 50px;
  }

  .carousel-caption p {
    font-size: 16px;
  }

  #carouselExampleCaptions {
    height: 120vh;
    width: 133%;

  }

  
}

@media (max-width: 576px) {
  .carousel-caption h2 {
    font-size: 25px;
  }

  .carousel-caption p {
    font-size: 13px;
  }

  #carouselExampleCaptions {
    height: 50vh;
  }

  .carousel-caption {
    top: 35%;
  }
}

@media (max-width: 400px) {
  .carousel-caption h2 {
    font-size: 50px;
  }

  .carousel-caption p {
    font-size: 12px;
  }

  #carouselExampleCaptions {
    height: 40vh;
  }

  .carousel-caption {
    top: 30%;
  }
} */